
@media screen and (max-width: 100vw)
{
  body > main { flex-direction: row; }
}

@media screen and (max-width: 800px)
{
  body > main { flex-direction: column; }
  body > main > #content { flex-direction: row; }
}

@media screen and (max-width: 400px)
{
  body { height: 100vh; }
  body > main > #content { flex-direction: column; }
}

